.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 100%;
    text-align: center;
}

    @include tablet {
.position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    }

.position {
    align-items: baseline;
}

@include tablet {
    .container {
    width: 768px;
}}


@include tablet {
    .address-content {
    margin-left: 76px;
}
}


.address-content {
    text-align: center;
    margin-bottom: 60px;
}


.address-content__logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--primary-bg-color);
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
}

.address-content__logo span{
    color: var(--accent-color);
}

.footer--font {
    background-color: #2F303A;
}


.address-content__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.address-content__text{
    display: flex;
    flex-direction: column;
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px; 
}
 @include tablet {
    soc {
    margin-right: 93px;
 } 
 }

.soc {
    margin-bottom: 60px;
    @include desktop {
      flex-grow: 1;  
    }
}

.soc__join {
    color: var(--primary-bg-color);
    font-family: var(--font-family);
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.soc__list {
    display: flex;
    justify-content: center;  
}

.soc-item {
    display: block;
    margin-right: 10px;
}

.soc__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    background-color: var(--accent-color);
}
}

.soc__icon {
    fill: var(--primary-bg-color);
    .soc__link:hover & {
    fill: var(--primary-bg-color);
}
}


.subscribe {
    text-align: center;
}

@include tablet {
   .subscribe__post {
    margin-left: 166px;
} 
}

.subscribe__join {
    color: var(--primary-bg-color);
    font-family: var(--font-family);
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-btn__input {
    padding: 15px 16px;
    margin-right: 12px;
    margin-bottom: 20px;
    width: 100%;
    @include tablet {
        width: 450px;
    }
    @include desktop {
        width: 358px;
    }
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn__sign {
    display: inline-flex;
    margin-left: 12px;
    padding: 10px 62px 10px 29px;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}


.footer-btn__icon-send {
    margin-left: 10px;
    fill: var(--primary-bg-color);
}
