.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-content__logo {
    color: $primary-bg-color;
    margin-bottom: 20px;
    margin-right: 93px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.address-content__logo span{
    color: $accent-color;
}

.footer--font {
    background-color: #2F303A;
}

.address-content__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    &:hover,
    &:focus {
    color: $accent-color;
}
}

.address-content__text{
    color: $primary-bg-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px; 
}
 
.address-content__item{
    margin-top: 9px;
}

.soc__join {
    color: $primary-bg-color;
    font-family: $font-family;
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .container{
    display: flex;  
}

.address-content {
    width:calc(25% - 15px);
}

.soc {
    flex-grow: 1;
}

.soc__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    background-color: $accent-color;
}
}


.soc__icon {
    fill: $primary-bg-color;
    .soc__link:hover & {
    fill: $primary-bg-color;
}
}

.soc__list {
    display:flex;
    align-items: center;  
}

.subscribe__post {
    position: relative;
}

.subscribe__join {
    color: $primary-bg-color;
    font-family: $font-family;
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-btn__btn {
    position: relative;
}

.footer-btn__input {
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn__sign {
    margin-left: 12px;
    padding: 10px 62px 10px 29px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: $accent-color;
    color: $primary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.footer-btn__icon-send {
    position:absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: $primary-bg-color;
}