

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list {
    display: flex; 
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
} 

.projects-btn {
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
    white-space: nowrap;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
}
}

.projects-btn {
    flex-basis: calc((100% - 50px) / 5);
} 
.btn-item{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    
    &:first-child {
        margin-left: auto;
        margin-right: 8px;
        max-width: 73px;
    }

    &:ntn-child(2){
        max-width: 128px;
    }
    
    &:ntn-child(3){
        max-width: 145px;
    }
    
    &:ntn-child(4) {
       max-width: 103px;
    }
    
    &:last-child {
        margin-right: auto;
        max-width: 130px;
    }
    
    &:not(:last-child) {
        margin-right: 8px;
    }

}
}




.portfolio {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #EEEEEE; 
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE; 
}

.portfolio-link {
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 
    0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}
}



.container .projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
}

.container .projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.projects-list  {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.projects-items {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
}

.submenu {
    position: relative;
    overflow: hidden;
}

.submenu-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color:rgba(33, 150, 243, 0.9);
    color: $primary-bg-color;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .projects-item:hover & {
    transform: translateY(0%);
}
}


