:root {
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $primary-bg-color: #ffffff;
    $font-family: "Roboto", "sans-serif"; 
    $font-weight: 400;
    $letter-spacing: 0,03em;
}






